.user_dashboard_wrapper{
    /* background-color: aqua; */
    width: 80%;
    /* height: 80vh; */
    margin: auto ;
  display: flex;
    /* justify-content: space-between; */
}

.user_dashboard{
    /* background-color: red; */
    flex:4;
    /* border: 2px solid black; */
    margin-right: 10px;
    border-radius: 20px;
    border-radius: 20px;
    background-color: white     ;
}

.user_profile{
    /* background-color: blue; */
    flex: 2;
   position:sticky;
  height:fit-content;
  top:80px;
}

.user_heading{
    cursor: pointer;
    height: 100px;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top-left-radius: 19px;
    border-top-right-radius: 19px; */
    border-radius: 20px;
    padding: 40px;
    margin:10px ;
}
.user_heading h1{
    text-align: center;
}
.user_graphs{
    display: flex;
    flex-direction: column;
    /* background-color: white; */
}

.graphs{
    display: flex;
    background-color: white;

}

.graphs div{
    height: 200px;
    width: 300px;
    border:2px solid whitesmoke;
    border-radius: 20px;
}
.user_graphs{
    display: flex;
    margin: 10px;
    flex: 1;
    border-radius:10px;

}
.social_media_affilate{
    border:2px solid blue;
    width: 300px;
    /* height:300px; */
    margin:10px;
    text-align: center;
    border-radius:10px;
}
.transaction_histiory{
    border:2px solid rgb(218, 217, 217);
    min-height: 100px;
    border-radius: 20px;
    margin: 10px    ;
    margin-top: 50px;
    overflow: hidden;
}
.user_profile{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;

}

.user_image{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 2px solid black;
    text-align: center;
    margin-top: 60px;
}
.personal_information{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: row !important;
    margin: 10px;
    padding: 10px;
    margin-top: 61px;

}

.information_div{
    width: 90%;
    background-color: white;
    display: flex;
    padding: 10px;
    margin: 10px;
}
.information_div div{
  margin-right: 10px;  
}

.user_name{
    margin: 5px;
}

.user_profile_btn{
    outline: none;
    border: none;
    background-color: #e4f3ee;
    color: #67d76b;
    padding: 8px;
    border-radius: 10px;
    letter-spacing: 2px;
}
.user_name{
    margin: 10px;
}

.user_profile_btn:hover{
    opacity: 0.5;
    cursor: pointer;
}

.user_setting{
    cursor: pointer;
}
.social_media_affilate{
    display:"flex";
    flex-direction: row;
    /* flex-wrap: wrap; */
    
}

.social_icon{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    cursor:pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.social_media_icon{
    background-color: white;
    padding:10px;
    width:100px;
    margin:10px;
border-radius:10px;
}
.connect_btn{
    outline: none;
    border: none;
    background-color: #0471ff;
    color: white;
    padding: 4px;
    border-radius: 10px;
    letter-spacing: 1px;    
}