.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  color: white;
  background-color: black;
  padding: 20px;
}
.first_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.second_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.second_container p {
  margin: 10px;
}

.email_Subscribe input {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 6px;
}
.support {
  display: flex;
}

.support div {
  margin: 10px;
}

.social_connection img {
  width: 23px;
  margin: 10px;
  background-color: white;
}

@media (max-width: 768px) {
  .first_container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 465px) {
  .first_container {
    display: flex;
    flex-direction: column;
  }
  .second_container {
    display: flex;
    flex-direction: column;
  }
  .email_Subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .email_Subscribe button {
    width: 234px;
  }

  .support {
    display: none;
  }
}
