/* .profile_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    cursor: default;
    padding: 20px;
  }
  
  .user_info_box {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 51px ​ 30px 10px 30px;
    padding: 40px 50px;
    width: 763px;       
    border-radius: 5px;
    position: relative;
  }
  
  
  
  .profile_label_input {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .MuiOutlinedInput-root {
    width: 100%;
    border-radius: 0px !important;
  }
  .MuiFormControl-root {
    width: 100%;
  }
  
  .profile_label_input label {
    
    font-size: 18px;
  }
  .profile_line {
    width: 52%;
    border-bottom: 2px solid whitesmoke;
    margin-top: 20px !important;
  }
  
  .edit_icon_information {
    position: absolute;
    right: 10px;
    width: 40px;
    top: 10px;
    height: 40px;
    padding: 2px;
    border-radius: 100%;
  }
  .edit_icon_information:hover {
    background-color: whiteSmoke;
    cursor: pointer;
  }
  .edit_icon_account {
    position: absolute;
    right: 10px;
    width: 40px;
    top: 10px;
    height: 40px;
    padding: 2px;
    border-radius: 100%;
  }
  .edit_icon_account:hover {
    background-color: whiteSmoke;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    .account_details {
      margin: 20px 10px 20px 10px;
    }
  }
   */

  .account_setting{
    /* display: flex;
    flex-direction: column; */
    width: 80%;
    margin: auto;
  }

  .profile_info{
    display: flex;
    

  }

  .profile_image{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: whitesmoke;
    height: 300px;
  }
  .profile_image img{
    height:200px;
    width: 200px;
    margin: 10px;
  }
  .im_change_btn::after {
    inset: 0px;
    position: absolute;
    content: "";
    opacity: 0;
}

  .im_change_btn{
  outline: none;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 8px;
  background-color: white;
  width: 200px;
  letter-spacing: 2px;
  border-radius: 5px;
  color: lightgreen;
  }
  .pi{
    display: flex;
    flex-direction: column;
    flex: 4;
    margin: 10px;
    /* background-color: whitesmoke; */
    /* margin-top: 0px  !important; */
    /* align-items: flex-start; */
    
  }

  .pi_field{
   /* flex: 1 1; */
   /* margin: 10px; */
   background-color: white;
   
   width: 100%;
   
  }

  .pi_field label{
    width:200px;
    /* background-color: red; */
    font-size: 20px;
   align-items: center;

  }
  .pi_field input{
    width: 672px;
    border-radius: 10px;
    outline:none;
    padding: 6px;
    margin: 8px;
  }

  .pi_heading{
    background-color: whitesmoke;
    width: 100%;
    padding:8px;
    
  }
  .pi_heading h3{
    letter-spacing: 2px;
  }
  .im_save_btn{
    background-color: #318886;
    color: white;
    height: 80x;
    width: 150px;
    letter-spacing: 2px;
  }