.faqt_container {
  width: 60%;
  margin: auto;
  
  
  padding: 0px 40px;
}
.collapsed {
  color: white;
}

.accordion-item:hover{
  border: 2px solid whitesmoke;;
  border-radius: 20px;
 
}
.accordion-button::after {
  background-image: url("../../assests/images/plus.png");
  height: 34px;
}
@media (max-width: 425px) {
  .container_faq {
    padding: 3px;
  }
}
